
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/dependency_links.txt
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/installed-files.txt
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/not-zip-safe
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/PKG-INFO
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/requires.txt
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/SOURCES.txt
Database/venv/Lib/site-packages/de_core_news_lg/__init__.py
Database/venv/Lib/site-packages/de_core_news_lg/__pycache__/__init__.cpython-37.pyc
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/accuracy.json
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/meta.json
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/ner/cfg
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/ner/model
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/ner/moves
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/parser/cfg
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/parser/model
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/parser/moves
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tagger/cfg
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tagger/model
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tagger/tag_map
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tokenizer
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/key2row
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/lookups.bin
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/lookups_extra.bin
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/strings.json
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/vectors
Database/venv/Lib/site-packages/de_core_news_lg/meta.json
Database/venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
Models/venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
Models/venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
Models/venv/Lib/site-packages/torch/lib/dnnl.lib
Models/venv/Lib/site-packages/torch/lib/mkldnn.lib
Models/venv/Lib/site-packages/torch/lib/torch_cpu.dll
Models/models/seq_to_seq_attention/embeddings/glove.6B.100d.txt
Models/models/seq_to_seq_attention/embeddings/glove.6B.200d.txt
Models/models/seq_to_seq_attention/embeddings/glove.6B.50d.txt
Models/models/seq_to_seq_attention/embeddings/glove.6B.300d.txt
Models/models/seq_to_seq_attention/data/processed_data.json
Models/models/bert_encoder_transformer_decoder/data/uncased_bert/bert_model.ckpt.data
Models/models/seq_to_seq_with_attention/data/processed_data.json
Models/models/seq_to_seq_with_attention/embeddings/glove.6B.100d.txt
Models/models/seq_to_seq_with_attention_library/glove/glove.42B.300d.txt
Models/models/seq_to_seq_with_attention_library/sumdata/train/train.article.txt
Models/models/seq_to_seq_with_attention_library/saved_model/model.ckpt-297190.meta
Models/models/seq_to_seq_with_attention_library/sumdata/train/train.article.txt.gz
Models/models/seq_to_seq_with_attention_library/sumdata/train/train.title.txt.gz
Models/models/seq_to_seq_with_attention_library/sumdata/train/train.article.txt.gz
Models/models/seq_to_seq_with_attention_library/sumdata/train/valid.article.filter.txt
Models/models/seq_to_seq_with_attention_library/summary.tar.gz
Models/models/seq_to_seq_with_attention_library/sumdata/train/train.title.txt
Models/models/seq_to_seq_with_attention_library/sumdata/train/valid.title.filter.txt
Models/models/seq_to_seq_with_attention_library/saved_model/model.ckpt-297190.data-00000-of-00001
Models/models/seq_to_seq_with_attention_library/saved_model/model.ckpt-120.data-00000-of-00001
Models/models/bert_encoder_transformer_decoder/temp/4dad0251492946e18ac39290fcfe91b89d370fee250efe9521476438fe8ca185.7156163d5fdc189c3016baca0775ffce230789d7fa2a42ef516483e4ca884517
Models/models/bert_encoder_transformer_decoder/temp/aa1ef1aede4482d0dbcd4d52baad8ae300e60902e88fcb0bebdec09afd232066.36ca03ab34a1a5d5fa7bc3d03d55c4fa650fed07220e2eeebc06ce58d0e9a157
Thesis/~$Präsentation Vorarbeiten Vogel.pptx
Models/bert_encoder_transformer_decoder/temp/aa1ef1aede4482d0dbcd4d52baad8ae300e60902e88fcb0bebdec09afd232066.36ca03ab34a1a5d5fa7bc3d03d55c4fa650fed07220e2eeebc06ce58d0e9a157
Models/seq_to_seq_with_attention/data/processed_data.json
Models/seq_to_seq_with_attention_library/glove/glove.42B.300d.txt
Models/seq_to_seq_with_attention/embeddings/glove.6B.100d.txt
Models/seq_to_seq_with_attention_library/saved_model/model.ckpt-297190.data-00000-of-00001
Models/seq_to_seq_with_attention_library/saved_model/model.ckpt-297190.meta
Models/seq_to_seq_with_attention_library/sumdata/train/train.article.txt
Models/seq_to_seq_with_attention_library/sumdata/train/train.title.txt
Models/seq_to_seq_with_attention_library/sumdata/train/valid.article.filter.txt
Models/seq_to_seq_with_attention_library/sumdata/train/valid.title.filter.txt
Models/transformer_to_transformer_architecture/p2_xlarge.pem
Models/transformer_to_transformer_architecture/p2_xlarge_eu.pem
Models/transformer_to_transformer_architecture/p2_xlarge_us.pem
Models/transformer_to_transformer_architecture/bert2bert_multilingual/pytorch_model.bin
Models/transformer_to_transformer_architecture/distilbert2bert_multilingual/pytorch_model.bin
Models/transformer_to_transformer_architecture/amazon_ami/p2_xlarge_eu.pem
Models/transformer_to_transformer_architecture/amazon_ami/p2_xlarge_us.pem
Models/transformer_to_transformer_architecture/~$analysis.xlsx
Thesis/~$Präsentation Anmeldung Vogel.pptx
Database/swiss_challenge/data_train.csv
Database/swiss_challenge/data_test.csv
Database/news_mining/data_train_test.xlsx
Database/swiss_challenge/data_train_test.xlsx
Models/transformer_to_transformer_architecture/gpu_tu_dresden/~$analysis.xlsx
Models/transformer_to_transformer_architecture/models/tf2tf_eng/config.json
Models/transformer_to_transformer_architecture/models/tf2tf_eng/optimizer.pt
Models/transformer_to_transformer_architecture/models/tf2tf_eng/scheduler.pt
Models/transformer_to_transformer_architecture/models/tf2tf_eng/pytorch_model.bin
Models/transformer_to_transformer_architecture/models/tf2tf_eng/special_tokens_map.json
Models/transformer_to_transformer_architecture/models/tf2tf_eng/tokenizer_config.json
Models/transformer_to_transformer_architecture/models/tf2tf_eng/trainer_state.json
Models/transformer_to_transformer_architecture/models/tf2tf_eng/training_args.bin
Models/transformer_to_transformer_architecture/models/tf2tf_eng/vocab.txt
Database/corpus_news.xlsx
Database/corpus_swiss_test.csv
Database/corpus_swiss_train.csv
Models/~$analysis.xlsx
Models/tud.ovpn
