
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/dependency_links.txt
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/installed-files.txt
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/not-zip-safe
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/PKG-INFO
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/requires.txt
Database/venv/Lib/site-packages/de_core_news_lg-2.3.0-py3.7.egg-info/SOURCES.txt
Database/venv/Lib/site-packages/de_core_news_lg/__init__.py
Database/venv/Lib/site-packages/de_core_news_lg/__pycache__/__init__.cpython-37.pyc
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/accuracy.json
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/meta.json
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/ner/cfg
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/ner/model
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/ner/moves
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/parser/cfg
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/parser/model
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/parser/moves
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tagger/cfg
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tagger/model
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tagger/tag_map
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/tokenizer
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/key2row
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/lookups.bin
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/lookups_extra.bin
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/strings.json
Database/venv/Lib/site-packages/de_core_news_lg/de_core_news_lg-2.3.0/vocab/vectors
Database/venv/Lib/site-packages/de_core_news_lg/meta.json
